.navbar {
  height: 100px;
}

.navbar-brand {
  font-weight: 600;
  color: #610ae3 !important;
  pointer-events: auto;
  text-decoration: none;
  display: inline;
}

.navbar-nav {
  background-color: #ddd;
}

#logo-img {
  display: block;
  width: 100px;
  height: 10%;
  position: relative;
  top: -25px;
}
.btn-hover {
  height: 5.866666666666666vw;
  height: 88px;
  color: #a11212;
}

.btn-hover:hover {
  border-bottom: 3px solid #b607f1;
  color: #05ff01;
  pointer-events: auto;
  text-decoration: none;
}
.nav-link.active {
  font-weight: 600;
  border-bottom: 3px solid #ff0105;
  color: #440467 !important;
  pointer-events: auto;
  text-decoration: none;
}

#root {
  background: #f9f8f5;
  padding: 10px;
  margin: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
  color: rgb(8, 7, 7);
  font-family: "Orbitron", sans-serif;
  border-radius: 10px;
}

#header {
  text-shadow: 2px 2px 4px #be0ae2;
  letter-spacing: 2px;
  text-align: right;
  display: inline-block;
  margin-left: 15px;
  font-family: gi, sans-serif;
  font-size: 100%;
  font-weight: 700;
  align-items: center;
  margin-top: 60px;
}

#container_color {
  background-color: #ddd;
  border-radius: 10px;
  margin-top: 100px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#second_container_color {
  background-color: #e99bed;
  border-radius: 10px;
  margin-top: 100px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  right: 30px;
}

.carousel {
  width: 900px;
  height: 500px;
  margin: auto;
}

.carousel-pic {
  width: 100px;
  height: 200px;
}

.logoton {
  vertical-align: middle;
  height: 1020px;
}

#titlecalles {
  text-align: center;
}
